### Soal Tipe Data

In [10]:
# data

company_name_list = [{'name': 'Company 1'},
          {'name': 'Company 2'},
          {'name': 'Company 3'}]

employee_name_list = [{'name': 'John Doe'},
          {'name': 'Tom Smith'},
          {'name': 'Andrew Sebastian'}]

company_detail_list = {
      'Company 1': {
          'name': 'Company 1',
          'domain': 'Retail',
          'clients': [
              {
                  'name': 'acme.inc',
                  'country': 'united states'
              },
              {
                  'name': 'Wayne.co',
                  'country': 'united states'
              }
          ]
      },
      'Company 2': {
          'name': 'Company 2',
          'domain': 'Construction',
          'clients': [
              {
                  'name': 'Tesla',
                  'country': 'united states'
              },
              {
                  'name': 'Japan Airlines',
                  'country': 'japan'
              },
              {
                  'name': 'Indofood',
                  'country': 'indonesia'
              }
          ]
      },
      'Company 3': {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'clients': [
              {
                  'name': 'Petronas',
                  'country': 'malaysia'
              },
              {
                  'name': 'VW Group',
                  'country': 'germany'
              },
              {
                  'name': 'IBM',
                  'country': 'united states'
              },
              {
                  'name': 'Mitsubishi',
                  'country': 'japan'
              }
          ]
      }
  }

employee_detail_list = {
      'John Doe': {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1'
      },
      'Tom Smith': {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2'
      },
      'Andrew Sebastian': {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 2'
      },
  }

#### Petunjuk:
Dari data di atas kerjakan soal di bawah untuk nomor **1 - 4**, sebisa mungkin gunakan comprehension loop apabila ada perulangan:

### 1 
Please get the list of all Companies and sort by **Company Domain** in reverse order.

Expected result:


```json
[{
    "name": "Company 1", 
    "domain": "Retail"
}, {
    "name": "Company 3", 
    "domain": "Healthcare"
}, {
    "name": "Company 2", 
    "domain": "Construction"
}]
```

In [49]:
def sort_company(company_detail_list):
 
  # Extract company names and domains with dictionary comprehension
  companies = [{'name': name, 'domain': details['domain']} 
              for name, details in company_detail_list.items()]

  # Sort by domain (reverse order)
  sorted_companies = sorted(companies, key=lambda x: x['domain'], reverse=True)
  return sorted_companies

# Example usage
sorted_company_list = sort_company(company_detail_list)
print(sorted_company_list)

[{'name': 'Company 1', 'domain': 'Retail'}, {'name': 'Company 3', 'domain': 'Healthcare'}, {'name': 'Company 2', 'domain': 'Construction'}]

### 2
Please print all Domain value in every company.

Expected return:

```
Company 1: Retail, relation: 2 clients
Company 2: Construction, relation: 3 clients
Company 3: Healthcare, relation: 4 clients
```

In [50]:
def print_company_details(company_detail_list):

  for company_name, details in company_detail_list.items():
    domain = details["domain"]
    num_clients = len(details["clients"])
    print(f"Company {company_name}: {domain}, relation: {num_clients} clients")

# Example usage
print_company_details(company_detail_list)

Company Company 1: Retail, relation: 2 clients
Company Company 2: Construction, relation: 3 clients
Company Company 3: Healthcare, relation: 4 clients

### 3
Create a function that return employees with it's company domain.

Expected return:


```json
[{
    "full_name": "John Doe",
    "company": "Company 1",
    "domain": "Retail"
}, {
    "full_name": "Tom Smith",
    "company": "Company 2",
    "domain": "Construction"
}, {
    "full_name": "Andrew Sebastian",
    "company": "Company 2",
    "domain": "Construction"
}]
```

In [51]:
def get_employee_details_with_domain(company_detail_list, employee_detail_list):
 
  # Initialize empty list for results
  employee_data = []

  # Loop through employee details
  for employee_name, employee_info in employee_detail_list.items():
    # Get company name for the employee
    company_name = employee_info["company"]

    # Check if company exists in company_detail_list (avoid potential errors)
    if company_name in company_detail_list:
      # Get domain from company details
      domain = company_detail_list[company_name]["domain"]

      # Create a dictionary for employee data
      employee_data.append({
          "full_name": employee_name,
          "company": company_name,
          "domain": domain
      })

  return employee_data

# Example usage
employee_data = get_employee_details_with_domain(company_detail_list, employee_detail_list)
print(employee_data)

[{'full_name': 'John Doe', 'company': 'Company 1', 'domain': 'Retail'}, {'full_name': 'Tom Smith', 'company': 'Company 2', 'domain': 'Construction'}, {'full_name': 'Andrew Sebastian', 'company': 'Company 2', 'domain': 'Construction'}]

### 4
Create a function that return companies with list of employees that are working in the company.

Expected return:


```json
[{
    "company": "Company 1",
    "employees": ["John Doe"]
}, {
    "company": "Company 2",
    "employees": ["Tom Smith", "Andrew Sebastian"]
}, {
    "company": "Company 3",
    "employees": []
}]
```

In [52]:
def get_company_employee_list(company_detail_list, employee_detail_list):

  # Initialize empty list for results
  company_data = []

  # Loop through companies
  for company_name, company_details in company_detail_list.items():
    # Initialize empty list for employees in this company
    employees = []

    # Loop through employees
    for employee_name, employee_info in employee_detail_list.items():
      # Check if employee works in this company
      if employee_info["company"] == company_name:
        employees.append(employee_name)

    # Create dictionary with company name and employee list
    company_data.append({
        "company": company_name,
        "employees": employees
    })

  return company_data

# Example usage
company_data = get_company_employee_list(company_detail_list, employee_detail_list)
print(company_data)

[{'company': 'Company 1', 'employees': ['John Doe']}, {'company': 'Company 2', 'employees': ['Tom Smith', 'Andrew Sebastian']}, {'company': 'Company 3', 'employees': []}]

### Soal pre-processing data

In [16]:
import pandas as pd

In [17]:
data_startup = pd.read_csv('50_Startups.csv')

In [57]:
data_startup.sample(7)

    R&D Spend  Administration  Marketing Spend       State     Profit
20   76253.86       113867.30        298664.47  California  118474.03
12   93863.75       127320.38        249839.44     Florida  141585.52
28   66051.52       182645.56        118148.20     Florida  103282.38
49        NaN       116983.80         45173.06  California   14681.40
39   38558.51        82982.09        174999.30  California   81005.76
45    1000.23       124153.04          1903.93    New York   64926.08
41   27892.92        84710.77        164470.71     Florida   77798.83

### Soal
Dari data di atas lakukan pre-processing sbb:
1. Lakukan analisa mengenai field mana saja yang memiliki data kosong(Nan) lalu Isi data yang kosong tersebut menggunakan nilai mean
2. lakukan oneHotEncoder ke field state
3. buat field baru yaitu Tax. dimana Tax = (profit + Marketing Spend + administration) * 5%
4. Jalankan standardScaler field-field tersebut

### 1. ANALISA

In [74]:
data_startup.isnull().sum()

R&D Spend          5
Administration     3
Marketing Spend    5
State              0
Profit             2
dtype: int64

In [79]:
rndmean = data_startup['R&D Spend'].mean()
admmean = data_startup['Administration'].mean()
msdmean = data_startup['Marketing Spend'].mean()
pmean = data_startup['Profit'].mean()

data_startup['R&D Spend'] = data_startup['R&D Spend'].fillna(rndmean)
data_startup['Administration'] = data_startup['Administration'].fillna(admmean)
data_startup['Marketing Spend'] = data_startup['Marketing Spend'].fillna(msdmean)
data_startup['Profit'] = data_startup['Profit'].fillna(pmean)
data_startup.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

## 2. oneHotEncoder

In [81]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [87]:
col_cat = ['State']
col_num = ['R&D Spend','Administration','Marketing Spend','Profit']
onehot=OneHotEncoder()
onehot.fit(data_startup[col_cat])

OneHotEncoder()

## 3. NEW FIELD

In [90]:
data_startup['Tax'] = (data_startup['Profit'] + data_startup['Marketing Spend'] + data_startup['Administration'] ) * 0.05
data_startup.sample(7)

,R&D Spend,Administration,Marketing Spend,State,Profit,Tax
36,28663.76,127056.21,201126.82,Florida,90708.19,20944.5610
41,27892.92,84710.77,164470.71,Florida,77798.83,16349.0155
0,165349.20,136897.80,471784.10,New York,192261.83,40047.1865
16,78013.11,121597.55,264346.06,California,126992.93,25646.8270
2,153441.51,101145.55,407934.54,Florida,191050.39,35006.5240
46,1315.46,115816.21,297114.46,Florida,49490.75,23121.0710
40,28754.33,118546.05,172795.67,California,78239.91,18479.0815

## 4. standardScaler

In [95]:
col_num = ['R&D Spend', 'Administration', 'Marketing Spend', 'Profit', 'Tax'] 
SS = StandardScaler() 
SS.fit(data_startup[col_num]) 
col_num2=[c+'_SS' for c in col_num] 
data_startup[col_num2]=pd.DataFrame(SS.transform(data_startup[col_num]))
data_startup.sample(7)

,R&D Spend,Administration,Marketing Spend,State,Profit,Tax,R&D Spend_SS,Administration_SS,Marketing Spend_SS,Profit_SS,Tax_SS
21,78389.47,153773.43,299737.290000,New York,111313.02,28241.187000,0.037527,1.217395,0.705469,-0.013540,0.765456
11,100671.96,91790.61,249744.550000,California,144259.40,24289.728000,0.559954,-1.218034,0.242354,0.815866,0.197976
40,28754.33,118546.05,172795.670000,California,78239.91,18479.081500,-1.126199,-0.166760,-0.470473,-0.846135,-0.636506
32,63408.86,129219.61,46085.250000,California,97427.84,13636.635000,-0.313702,0.252626,-1.644272,-0.363091,-1.331942
33,55493.95,103057.49,214634.810000,Florida,96778.92,20723.561000,-0.499272,-0.775336,-0.082890,-0.379427,-0.314170
42,23640.93,96189.63,148001.110000,California,71498.49,15784.461500,-1.246086,-1.045188,-0.700160,-1.015847,-1.023487
48,542.05,51743.15,223582.690222,New York,35673.41,15549.962511,-1.787653,-2.791579,0.000000,-1.917721,-1.057165

### Ketentuan dan Deadline

1. Buat masing-masing repositori di github account
2. Soal dikerjakan di repositori tsb.
3. Jawaban yang dikumpulkan di **e-learning** merupakan link github dari repositori di atas.
4. Deadline pengumpulan soal adalah hari rabu, 15 Mei 2024 pukul 23:59.